@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700|Montserrat+Alternates');

body {
    background-color: whitesmoke;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #212121;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 1rem 0;
}
h1 {
    font-size: 4.2rem;
}
h2 {
    
}
h3 {
    
}
h4 {
    font-size: 2.28rem
}
h5 {
    font-size: 1.64rem;
}
h6 {
    font-size: 1.15rem;
}
p {
    line-height: 1.5;    
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 300px;
    /* background-color: pink; */
}

.dom-green-1 {
    background-color: #8dc63f;
}

.dom-green-1-dark {
    background-color: #5d832b;
}

.dom-green-2 {
    background-color: #2bb673
}

.dom-blue {
    background-color: #27aae1
}

.dom-green-1-text {
    color: #8dc63f;
}

.dom-green-2-text {
    color: #2bb673;
}

.dom-blue-text {
    color: #27aae1
}

.font1 {
}

/* .font2 {
    font-family: 'Alegreya Sans SC', sans-serif;
} */

/* HERE */

#nav {
    background-color: #212121;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    text-align: center;
}
#nav .nav-link {
    color: white;
    display: block;
    padding: 15px 5px;
    text-decoration: none;
    cursor: pointer;
}

#nav .nav-link.game-link {
    /* color: #4d4d4d; */
    color: slategrey;
}

#nav .nav-link:hover {
    color: #27aae1;
    border-right: #27aae1 5px solid;
}

#nav .nav-logo {
    /* width: 100%; */
}

#nav .nav-logo img {
    padding: 20px;
    width: 100%;
}

#main-content {
    width: calc(100% - 100px);
    /* height: 100%; */
    margin-left: 100px;
}

#hero {
    height: 100%;
    min-height: 500px;
    padding: 20px;
    background-color: #2bb673;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-position: center;
    background-size: cover;
}

.hero-logo {
    width: 200px;
    margin: 0 25px 1rem 0;
}

.hero-icons {
    margin-top: 1rem;
}

.hero-icon {
    width: 60px;
    margin: 0 25px;
    transition: all .2s ease-in-out;
}
.hero-icon:hover {
    transform: translateY(-5px) scale(1.2);
}

.section-title {
    background-color: #212121;
    padding: 15px;
    margin-bottom: 2rem;
}

.section-title h4 {
    /* color: white; */
    margin: 0;
    text-align: center;
}

.section-header {
    border-bottom: 2px solid grey;
    margin-bottom: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.col-1 {
    grid-column: span 1;
}
.col-2 {
    grid-column: span 2;
}
.row-2 {
    grid-row: span 2;
}

.portfolio-devices {
    width: 100%;
}

button {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1rem;
    background-color: #8dc63f;
    color: white;
    padding: 10px 15px;
    border: none;
    outline: none;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

button:hover {
    background-color: #212121;;
    color: #8dc63f;
}
.tool-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tool-logo {
    width: 50px;
    transition: all 1s ease-in-out;
}
.tool-logo:hover {
    transform: scale(1.1);
    transition: all .1s ease-in-out;
}